main
{
  visibility: hidden;
}

.loader
{
  display: block;
}

.pointer-none
{
  pointer-events: none;
}

.nav__burger svg
{
  scale: 1.5;
}

/* .burger__item--in .h--158 {
    transform: translateY(1.1vw);
}    */

.work__title div div:nth-child(2)
{
    margin-left: -0.3vw;
}

.line-mask 
{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

::selection
{
  background-color: #D44B43;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: transparent;
}